<div class="container">
  <div class="container-inner inner-default clearfix">
    <h1>Have Ranking</h1>
    <% @have_ranks.each_with_index do |have_rank, count| %>
        <% item = Item.find(have_rank[0]) %>
        <div class="item-box">
            <h3><%= count+1 %>ä½ (<%= have_rank[1] %> haves)</h3>
            <div class="image">
              <div class="img-wrap">
                <% if item.large_image.present? %>
                    <%= image_tag(item.large_image , alt: item.title) %>
                <% else %>
                  <%= image_tag("no-image.png" , alt: item.title) %>
                <% end %>
              </div>
            </div>
            <div class="detail">
                <p class="title"><%= item.title %></p>
            </div>
            <%= render 'items/action' , item: item if logged_in? %>
          </div>
        <% end %>

    </div>
</div>